.social-navbar {
    display: flex;
    justify-content: space-around; /* Evenly spaces the child elements */
    align-items: center; /* Aligns items vertically in the middle */
    height: 120px; /* Set a height that accommodates the lowered items */
    
}

.social-navbar a {
    transition: transform 0.3s ease; /* Smooth transition for hover effect */

}

.social-navbar a:not(:first-child):not(:last-child) img {
    margin-bottom: 50px; /* Lower the first and last images by 50px */

}



.social-navbar a:nth-child(2) {
    margin-right: 150px;
}

.social-navbar a:nth-child(1),
.social-navbar a:nth-child(3) {
    margin-right: 20px;
}

.social-navbar a img {
    height: 50px; /* Uniform image height, adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

/* Optionally add hover effects to scale images */
.social-navbar a:hover img {
    transform: scale(1.1); /* Enlarges the image slightly on hover */
}


@media (max-width: 768px) { /* You can adjust the max-width value as needed */
    .social-navbar a {
        transform: scale(0.8); /* Enlarges the image slightly on hover */
    }
}

